body{
  display: flex;
  flex-direction: column;
  background-image: url(cockpit2.png);
  background-size: cover;
}
main{
 
  flex-grow: 1;
  
}
header{
  min-height: 8vh;
}
footer{
  min-height: 10vh;
}
.card-main{
  padding: 10px;
  background: black;
  opacity: .8;
}
.game-box{
  background-size: cover;
}
.kaiju{
  min-height: 40rem;
  max-height: 50rem;
  
}
.kaijuhealthbar{
  opacity: .8;
}
.item-shelf{
  position: relative;
}
.itemframe1{
  max-height: 150px;
  max-width: 150px;
  
}
.itemframe2{
  max-height: 150px;
  max-width: 150px;

}
.itemframe3{
  max-height: 150px;
  max-width: 150px;
  
}
.itemframe4{
  max-height: 150px;
  max-width: 150px;
  
}
.missile{
  max-height: 70px;
  max-width: 70px;
}  

 .gipsydangerblueprint{
   max-height: 275px;
   max-width: 275px;
   opacity: .8;
   border-radius: 50%;
   position:absolute()
 }
 .pilot{
   max-height: 275px;
   max-width: 275px;
   
 }

.card-shelf{
  background-color: black;
  padding: 10px;
  border-radius: 4px;
  opacity: .8;
}

button{
  padding: 10px;
  margin: 10px;
  opacity: .8;
  min-width: 100px;
  min-height: 100px;
}

.bg1{
background-image: url(citybackground3.gif);
background-size: cover;
opacity: .9;
}


/*===================*/
/* WOOBLE VERTICAL
/*===================*/

@-webkit-keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.wobble-vertical-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical-on-hover:hover, .wobble-vertical-on-hover:focus, .wobble-vertical-on-hover:active {
  -webkit-animation-name: wobble-vertical-on-hover;
  animation-name: wobble-vertical-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-12-10 15:5:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**